mixin og_title( title )
  meta(property="og:title" content=title)

mixin og_image( image_url )
  meta(property="og:image" content=image_url)

mixin og_type( type )
  meta(property="og:type" content=type)

mixin og_url( url )
  meta(property="og:url" content=url)

mixin og_sitename( site_name )
  meta(property="og:site_name" content=site_name)

mixin og_description( description )
  meta(property="og:description" content=description)
