mixin tw_card( val )
  meta(name="twitter:card" content=val)

mixin tw_site( val )
  meta(name="twitter:site" content=val)

mixin tw_title( val )
  meta(name="twitter:title" content=val)

mixin tw_description( val )
  meta(name="twitter:description" content=val)

mixin tw_image( val )
  meta(name="twitter:image" content=val)

mixin tw_url( val )
  meta(name="twitter:url" content=val)
